  <div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @walks.each do |walk| %>
      <div class="content_post" style="background-image: url(<%= walk.image %>);">
        <%= simple_format(walk.text) %>
        <span class="name"><%= walk.name %></span>
      </div>
    <% end %>
    <%= paginate(@walks) %>
  </div>