	<div class="contents row">
		<% @walks.each do |walk| %>
		<div class="content_post" style="background-image: url(<%= walk.image %>);">
			<%= walk.title %>
			<%= simple_format(walk.text) %>
			<span class="name">
				<span>投稿者</span><%= walk.name %>
			</span>
		</div>
		<% end %>
		<%= paginate(@walks) %>
	</div>