<div class ="contents row">
  <div class="content_post" style="background-image: url(<%= @walk.image %>);">
    <% if user_signed_in? && current_user.id == @walk.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/walks/#{@walk.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/walks/#{@walk.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= simple_format(@walk.text) %>
    <span class="name">
      <a href="/users/<%= @walk.user.id %>">
        <span>投稿者</span><%= @walk.user.Nickname %>
      </a>
    </span>
  </div>

    <div class="container"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/walks/#{@walk.id}/reviews", method: :post) do %>
        <textarea cols="30" name="text" placeholder="レビューする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>

    <!-- ここからコメント一覧 -->
    <div class="comments">   
      <h4>＜レビュー一覧＞</h4>
      <% if @reviews %>
        <% @reviews.each do |review| %>
          <p>
            <strong><%= link_to review.user.Nickname, "/users/#{review.user_id}" %>：</strong>
            <%= review.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
